// Primary Colours
$color-very-dark-magenta: hsl(300, 43%, 22%);
$color-soft-pink: hsl(333, 80%, 67%);

// Neutral colours
$color-dark-grayish-magenta: hsl(303, 10%, 53%);
$color-light-grayish-magenta: hsl(300, 24%, 96%);
$color-white: hsl(0, 0%, 100%);

// Typography
$default-font: 'Spartan', sans-serif;

// Body Copy
$body-font-size: 0.9375em;

*,
::before,
::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: $default-font;
  font-size: $body-font-size;
  line-height: 1.5em;
  color: $color-dark-grayish-magenta;
  background: $color-white;
}

body * + * {
  margin-top: 1.5em;
}

h1, h2, h3, h4, h5 {
  font-family: $default-font;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  border: none;
}

a:active, a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

button:focus,
input:focus {
  outline: none;
}

.container {
  padding: 1.3em;

  &__top {
    display: flex;
    flex-direction: column;
  }

  &__bottom {
    margin-top: 2.2rem;
    display: flex;
    flex-direction: column;
  }
}

.message {

  &__title {
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
    color: $color-very-dark-magenta;
    padding-left: 1em;
    padding-right: 1em;
    line-height: 1.2em;
    margin-bottom: 1.2em;
  }

  &__details {
    text-align: center;
  }
}

.rating {
  display: flex;
  flex-direction: column;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 0.5em;
    background-color: $color-light-grayish-magenta;
    border-radius: 7px;
  }

  &__star {
    width: 100px;
    display: flex;
    justify-content: space-between;
  }

  &__star-img {
    margin-top: 0;
  }

  &__title {
    margin-top: 0.8em;
    color: $color-very-dark-magenta;
    font-size: 1rem;
    font-weight: 700;
  }
}

.review-card {
  background-color: $color-very-dark-magenta;
  padding: 2em;
  border-radius: 10px;

  &__top {
    display: flex;
    align-items: center;
  }

  &__photo img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }

  &__name-status {
    margin-top: 0;
    margin-left: 1.5em;
    display: flex;
    flex-direction: column;
  }

  &__name {
    color: $color-white;
    font-size: 1rem;
    font-weight: 700;
  }

  &__status {
    margin-top: 0;
    color: $color-soft-pink;
  }

  &__bottom {
    color: $color-white;
  }
}

footer {
  margin-top: 2em;
  .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: $color-very-dark-magenta;
  }

  .attribution span {
     display: block;
  }

  .attribution span + span {
     margin-top: 0;
  }
}
