*,
::before,
::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Spartan", sans-serif;
  font-size: 0.9375em;
  line-height: 1.5em;
  color: #937b92;
  background: white;
}

body * + * {
  margin-top: 1.5em;
}

h1, h2, h3, h4, h5 {
  font-family: "Spartan", sans-serif;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  border: none;
}

a:active, a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

button:focus,
input:focus {
  outline: none;
}

.container {
  padding: 1.3em;
}
.container__top {
  display: flex;
  flex-direction: column;
}
.container__bottom {
  margin-top: 2.2rem;
  display: flex;
  flex-direction: column;
}

.message__title {
  font-size: 1.8em;
  font-weight: 700;
  text-align: center;
  color: #502050;
  padding-top: 2.5rem;
  padding-left: 1em;
  padding-right: 1em;
  line-height: 1.2em;
  margin-bottom: 1.2em;
}
.message__details {
  text-align: center;
}

.rating {
  display: flex;
  flex-direction: column;
}
.rating__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 0.5em;
  background-color: #f7f2f7;
  border-radius: 7px;
}
.rating__star {
  width: 100px;
  display: flex;
  justify-content: space-between;
}
.rating__star-img {
  margin-top: 0;
}
.rating__title {
  margin-top: 0.8em;
  color: #502050;
  font-size: 1rem;
  font-weight: 700;
}

.review-card {
  background-color: #502050;
  padding: 2em;
  border-radius: 10px;
}
.review-card__top {
  display: flex;
  align-items: center;
}
.review-card__photo img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.review-card__name-status {
  margin-top: 0;
  margin-left: 1.5em;
  display: flex;
  flex-direction: column;
}
.review-card__name {
  color: white;
  font-size: 1rem;
  font-weight: 700;
}
.review-card__status {
  margin-top: 0;
  color: #ee68a4;
  font-size: 0.9em;
}
.review-card__bottom {
  color: white;
}

footer {
  margin-top: 1.5em;
}
footer .attribution {
  font-size: 11px;
  text-align: center;
}
footer .attribution a {
  color: #502050;
}
footer .attribution span {
  display: block;
}
footer .attribution span + span {
  margin-top: 0;
}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
  .container {
    padding: 5em;
  }
  .container__top {
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
  }
  .container__bottom {
    flex-direction: row;
  }

  .message {
    width: 50%;
  }
  .message__title {
    font-size: 3em;
    text-align: left;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
    width: 70%;
  }
  .message__details {
    text-align: left;
    width: 90%;
    margin-top: 0.8em;
  }

  .rating {
    width: 50%;
    margin-top: 0;
  }
  .rating__item {
    flex-direction: row;
    justify-content: space-around;
    padding: 1em 2em;
    width: 70%;
  }
  .rating__title {
    margin-top: 0;
    font-size: 0.9em;
  }
  .rating__item--second {
    margin-left: 3em;
  }
  .rating__item--third {
    margin-left: 6em;
  }

  .review-card {
    margin-top: 0;
    margin-right: 1.5em;
    height: 90%;
  }
  .review-card:last-child {
    margin-right: 0;
  }
  .review-card--second {
    margin-top: 1.5em;
  }
  .review-card--third {
    margin-top: 3em;
  }
}
/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
  .container {
    padding: 5em;
  }
  .container__top {
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
  }
  .container__bottom {
    flex-direction: row;
  }

  .message {
    width: 50%;
  }
  .message__title {
    font-size: 3em;
    text-align: left;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
    width: 70%;
  }
  .message__details {
    text-align: left;
    width: 90%;
    margin-top: 0.8em;
  }

  .rating {
    width: 50%;
    margin-top: 0;
  }
  .rating__item {
    flex-direction: row;
    justify-content: space-around;
    padding: 1em 2em;
    width: 70%;
  }
  .rating__title {
    margin-top: 0;
    font-size: 0.9em;
  }
  .rating__item--second {
    margin-left: 3em;
  }
  .rating__item--third {
    margin-left: 6em;
  }

  .review-card {
    margin-top: 0;
    margin-right: 1.5em;
    height: 90%;
  }
  .review-card:last-child {
    margin-right: 0;
  }
  .review-card--second {
    margin-top: 1.5em;
  }
  .review-card--third {
    margin-top: 3em;
  }
}
/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .message__title {
    font-size: 4em;
  }
}
/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  .message__title {
    font-size: 2.5em;
  }
}
/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

/*# sourceMappingURL=styles.css.map */
