// Primary Colours
$color-very-dark-magenta: hsl(300, 43%, 22%);
$color-soft-pink: hsl(333, 80%, 67%);

// Neutral colours
$color-dark-grayish-magenta: hsl(303, 10%, 53%);
$color-light-grayish-magenta: hsl(300, 24%, 96%);
$color-white: hsl(0, 0%, 100%);

// Typography
$default-font: 'Spartan', sans-serif;

// Body Copy
$body-font-size: 0.9375em;

*,
::before,
::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: $default-font;
  font-size: $body-font-size;
  line-height: 1.5em;
  color: $color-dark-grayish-magenta;
  background: $color-white;
}

body * + * {
  margin-top: 1.5em;
}

h1, h2, h3, h4, h5 {
  font-family: $default-font;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  border: none;
}

a:active, a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

button:focus,
input:focus {
  outline: none;
}

.container {
  padding: 1.3em;

  &__top {
    display: flex;
    flex-direction: column;
  }

  &__bottom {
    margin-top: 2.2rem;
    display: flex;
    flex-direction: column;
  }
}

.message {

  &__title {
    font-size: 1.8em;
    font-weight: 700;
    text-align: center;
    color: $color-very-dark-magenta;
    padding-top: 2.5rem;
    padding-left: 1em;
    padding-right: 1em;
    line-height: 1.2em;
    margin-bottom: 1.2em;
  }

  &__details {
    text-align: center;
  }
}

.rating {
  display: flex;
  flex-direction: column;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 0.5em;
    background-color: $color-light-grayish-magenta;
    border-radius: 7px;
  }

  &__star {
    width: 100px;
    display: flex;
    justify-content: space-between;
  }

  &__star-img {
    margin-top: 0;
  }

  &__title {
    margin-top: 0.8em;
    color: $color-very-dark-magenta;
    font-size: 1rem;
    font-weight: 700;
  }
}

.review-card {
  background-color: $color-very-dark-magenta;
  padding: 2em;
  border-radius: 10px;

  &__top {
    display: flex;
    align-items: center;
  }

  &__photo img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }

  &__name-status {
    margin-top: 0;
    margin-left: 1.5em;
    display: flex;
    flex-direction: column;
  }

  &__name {
    color: $color-white;
    font-size: 1rem;
    font-weight: 700;
  }

  &__status {
    margin-top: 0;
    color: $color-soft-pink;
    font-size: 0.9em;
  }

  &__bottom {
    color: $color-white;
  }
}

footer {
  margin-top: 1.5em;
  .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution,
  .attribution a {
    color: $color-very-dark-magenta;
  }

  .attribution a:hover,
  .attribution a:focus,
  .attribution a:active {
    color: #e85461;
  }

  .attribution span {
     display: block;
  }

  .attribution span + span {
     margin-top: 0;
  }
}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

  .container {
    padding: 5em;

    &__top {
      flex-direction: row;
      justify-content: space-between;
      align-content: space-between;
      align-items: center;
    }

    &__bottom {
      flex-direction: row;
    }
  }

  .message {
    width: 50%;

    &__title {
      font-size: 3em;
      text-align: left;
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 0;
      width: 70%;
    }

    &__details {
      text-align: left;
      width: 90%;
      margin-top: 0.8em;
    }
  }

  .rating {
    width: 50%;
    margin-top: 0;

    &__item {
      flex-direction: row;
      justify-content: space-around;
      padding: 1em 2em;
      width: 70%;
    }

    &__title {
      margin-top: 0;
      font-size: 0.9em;
    }

    &__item--second {
      margin-left: 3em;
    }

    &__item--third {
      margin-left: 6em;
    }
  }

  .review-card {
    margin-top: 0;
    margin-right: 1.5em;
    height: 90%;

      &:last-child {
        margin-right: 0;
      }

      &--second {
        margin-top: 1.5em;
      }

      &--third {
        margin-top: 3em;
      }
  }

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  .container {
    padding: 5em;

    &__top {
      flex-direction: row;
      justify-content: space-between;
      align-content: space-between;
      align-items: center;
    }

    &__bottom {
      flex-direction: row;
    }
  }

  .message {
    width: 50%;

    &__title {
      font-size: 3em;
      text-align: left;
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 0;
      width: 70%;
    }

    &__details {
      text-align: left;
      width: 90%;
      margin-top: 0.8em;
    }
  }

  .rating {
    width: 50%;
    margin-top: 0;

    &__item {
      flex-direction: row;
      justify-content: space-around;
      padding: 1em 2em;
      width: 70%;
    }

    &__title {
      margin-top: 0;
      font-size: 0.9em;
    }

    &__item--second {
      margin-left: 3em;
    }

    &__item--third {
      margin-left: 6em;
    }
  }

  .review-card {
    margin-top: 0;
    margin-right: 1.5em;
    height: 90%;

      &:last-child {
        margin-right: 0;
      }

      &--second {
        margin-top: 1.5em;
      }

      &--third {
        margin-top: 3em;
      }
  }

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  //CSS

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  .message {

    &__title {
      font-size: 4em;
    }
  }

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  .message {

    &__title {
      font-size: 2.5em;
    }
  }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  //CSS

}
